* {
    margin: 0;
    padding: 0;
    font-family: 'Robotto', Arial, Helvetica, sans-serif
}

header {
    background-color: #EEEFF1;
}

.header {
    max-width: 1110px;
    width: 100%;
    padding: 0px 20px;
    padding-top: 79px;
    margin: 0px auto;
}

nav {
    max-width: 620px;
}

nav a {
    display: inline-block;
    padding-right: 42px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #000000;
}

a:hover {
    color: #34547A;
}

.hero-section {
    background-color: #EEEFF1;
    width: 100%;
    padding-top: 162px;

}

.container {
    max-width: 1110px;
    width: 100%;
    padding: 0px 20px;
    margin: 0px auto;
}

.containerphrases {
    width: 541px;
    padding-bottom: 162px;
}

.headerphrase {
    left: 399px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
    margin-bottom: 60px;
}

.text {    
    left: 400px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 65px;
}

.btn {
    width: 225px; 
    margin: 0;
    padding: 0;  
    overflow: hidden;
}

.btn a {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #FFFFFF;
    margin: 0;    
    padding: 19px 41px;    
    background-color: #34547A;
    text-align: center;
}

.btn:hover {
    text-shadow: 0px 0px 2px white;
    box-shadow: 0px 0px 5px #34547A;
}

/* Обо мне */
.for_me {
    padding-top: 112px;
} 

.container-headers {
    max-width: 540px;
    padding: 0 10px;
    text-align: center; 
    margin: 0 auto;
}

.for_me_h {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    margin-bottom: 50px;
}

.for_me_h+p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 100px;
}

/* Линия с проектами  */

.line_projects {
    background-color: #34547A;
}

.list {
    padding-top: 100px;
    text-align: center;
    margin: 0px auto;
}

.list>li {
    float: left;
    width: calc(100%/6);
    list-style: none;
    padding-bottom: 100px;     
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.project_items img {
    width: 50px;
    height: 50px;
    float: left;
}

.project_items p {   
    float: right;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;    
}

.project_items>a {
    display: block;
    text-decoration: none;    
    padding-top: 40px;
    max-width: 141px;
}

.project_items>a:hover {
    text-shadow: 0px 0px 2px white;
}

.bold_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    margin-left: -35px;
}

/* Как я работаю */
.how-work {
    padding-top: 100px;
}

.how-work h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    padding-bottom: 50px;
    color: #000000;
}

.how-work p {
    margin: 0 auto;
    width: 540px;
    height: 67px;
    left: 690px;
    top: 1489px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.video {
    margin-top: 100px;
    padding-bottom: 100px;
}

.image_video {
    position: relative;
    margin: 0 auto;
    background-image: url('../images/background.png');
    width: 1110px;
    height: 600px;
}

.image_video>p {
    text-align: center;
    padding-top: 250px;
}

.logo_play {
    width: 100px;
    height: 100px;
}

.logo_play:hover {
    box-shadow: 0px 0px 3px white;
}

/* Подвал */
footer {
    background-color: #34547A;
    ;
    color: #FFFFFF;
}

h3 {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    padding-top: 50px;
}

h3+p {
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    margin-top: 20px;
    padding-bottom: 50px;
}